[submodule "lisp/extensions/magit"]
	path = lisp/extensions/magit
	url = https://github.com/magit/magit.git
[submodule "lisp/extensions/auto-save"]
	path = lisp/extensions/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "lisp/extensions/evil"]
	path = lisp/extensions/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "lisp/extensions/use-package"]
	path = lisp/extensions/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "lisp/extensions/projectile"]
	path = lisp/extensions/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "lisp/extensions/lsp-bridge"]
	path = lisp/extensions/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "lisp/extensions/yasnippet"]
	path = lisp/extensions/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "lisp/extensions/org-roam"]
	path = lisp/extensions/org-roam
	url = https://github.com/org-roam/org-roam.git
[submodule "lisp/extensions/emacsql"]
	path = lisp/extensions/emacsql
	url = https://github.com/magit/emacsql.git
