[submodule "lisp/extensions/auto-save"]
	path = lisp/extensions/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "lisp/extensions/evil"]
	path = lisp/extensions/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "lisp/extensions/use-package"]
	path = lisp/extensions/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "lisp/extensions/projectile"]
	path = lisp/extensions/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "lisp/extensions/lsp-bridge"]
	path = lisp/extensions/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "lisp/extensions/yasnippet"]
	path = lisp/extensions/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "lisp/extensions/org-roam"]
	path = lisp/extensions/org-roam
	url = https://github.com/org-roam/org-roam.git
[submodule "lisp/extensions/emacsql"]
	path = lisp/extensions/emacsql
	url = https://github.com/magit/emacsql.git
[submodule "lisp/extensions/org-roam-ui"]
	path = lisp/extensions/org-roam-ui
	url = https://github.com/org-roam/org-roam-ui.git
[submodule "fanyi"]
	path = lisp/extensions/fanyi
	url = https://github.com/condy0919/fanyi.el.git
[submodule "corfu"]
	path = lisp/extensions/corfu
	url = https://github.com/minad/corfu.git
[submodule "clojure"]
	path = lisp/extensions/clojure
	url = https://github.com/clojure-emacs/clojure-mode.git
[submodule "ligature"]
	path = lisp/extensions/ligature
	url = https://github.com/mickeynp/ligature.el.git
[submodule "emacs-rime"]
	path = lisp/extensions/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime.git
[submodule "treemacs"]
	path = lisp/extensions/treemacs
	url = https://github.com/Alexander-Miller/treemacs.git
[submodule "lisp/extensions/emacs-which-key"]
	path = lisp/extensions/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "lisp/extensions/flycheck"]
	path = lisp/extensions/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "lisp/extensions/org-modern"]
	path = lisp/extensions/org-modern
	url = https://github.com/minad/org-modern.git
[submodule "lisp/extensions/rainbow-delimiters"]
	path = lisp/extensions/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "lisp/extensions/elisp-tree-sitter"]
	path = lisp/extensions/elisp-tree-sitter
	url = https://github.com/emacs-tree-sitter/elisp-tree-sitter
[submodule "lisp/extensions/grammatical-edit"]
	path = lisp/extensions/grammatical-edit
	url = https://github.com/manateelazycat/grammatical-edit.git
[submodule "lisp/extensions/typescript-mode"]
	path = lisp/extensions/typescript-mode
	url = https://github.com/emacs-typescript/typescript.el.git
[submodule "lisp/extensions/web-mode"]
	path = lisp/extensions/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "lisp/extensions/js2-mode"]
	path = lisp/extensions/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "lisp/extensions/s"]
	path = lisp/extensions/s
	url = https://github.com/magnars/s.el.git
[submodule "lisp/extensions/dart-mode"]
	path = lisp/extensions/dart-mode
	url = https://github.com/bradyt/dart-mode.git
[submodule "lisp/extensions/dap-mode"]
	path = lisp/extensions/dap-mode
	url = https://github.com/emacs-lsp/dap-mode.git
[submodule "lisp/extensions/consult-org-roam"]
	path = lisp/extensions/consult-org-roam
	url = https://github.com/jgru/consult-org-roam.git
[submodule "emacs-smart-input-source"]
	path = lisp/extensions/emacs-smart-input-source
	url = https://github.com/laishulu/emacs-smart-input-source.git
[submodule "lisp/extensions/compat"]
	path = lisp/extensions/compat
	url = https://github.com/emacs-compat/compat.git
[submodule "lisp/extensions/ht"]
	path = lisp/extensions/ht
	url = https://github.com/Wilfred/ht.el.git
[submodule "pfuture"]
	path = lisp/extensions/pfuture
	url = https://github.com/Alexander-Miller/pfuture.git
[submodule "lisp/extensions/dump-jump"]
	path = lisp/extensions/dump-jump
	url = https://github.com/jacktasia/dumb-jump.git
[submodule "lisp/extensions/popup-el"]
	path = lisp/extensions/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "lisp/extensions/combobulate"]
	path = lisp/extensions/combobulate
	url = https://github.com/mickeynp/combobulate.git
[submodule "lisp/extensions/evil-nerd-commenter"]
	path = lisp/extensions/evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter.git
